@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: #2200ab7a;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(0,0,0, 0.8);
    color: #8267c2;
    position: sticky;
    padding: 0 5rem;
    top:0;
    height: 100px;
    z-index: 1;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .menu{
   display: flex; 
}

.menu-item{
   position: relative;
   text-align: center;
   width: 150px;
   padding: 1.5rem;
}

.navbar a{
    color: #8267c2;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.navbar a:hover{
    color: #ffffff;
}

.submenu{
   display:none;
   top: 100%;
   left: 0;
   position: absolute;
   background-color: hsl(254, 100%, 84%);
   min-width: 180px; 
}

.submenu li{
    border-bottom:1px solid #555555 ;
}

.submenu li a{
     color: #fff; 
     padding: 10px;
     text-decoration: none;
     font-size: 14px;   
}

.submenu li a:hover{
   background-color: #ffffff;
    color: #8267c2;

}

.menu-item:hover .submenu{
    display: block;
}


.hero{
   background-image: url(../img/포트폴리오.png); 
   background-size:cover ;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 80vh;
   position: relative;
}


.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #000;
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #000;
}

.cta-btn{
    background-color: #3700b85e;
    color: #ffffff;
    padding: 0.75rem 2rem;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none; 
    transition:background-color 0.3s ease;  
}

.cta-btn:hover{
    background-color: #3700b85e;
    color: #0000005e;
}

.t_work{
   text-align: center;
   background-color: #000;
   padding-top: 30px;
}

.t_work h1{
    color: #fff;
    font-size: 3rem;
}

.work{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    gap: 50px;
}


.hexa{
    width: 300px;
    height: 300px;
    position: relative;
    transition: 0.3s;
}

.hexa:hover{
    transform: translateY(-40px);
}


.shape{
   clip-path: polygon(30% 0%, 70% 0%, 100% 50%,70% 100%,30% 100%,0% 50%); 
   width: 100%;
   height: 100%;
   overflow: hidden;
}


.shape img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cap{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.hexa:hover .cap{
    opacity: 1;
}

.hexa:nth-child(1) .cap{
    background:linear-gradient(to top, rgb(53, 7, 221),transparent);
}


.hexa:nth-child(2) .cap{
    background:linear-gradient(to top, rgb(53, 7, 221),transparent);
}


.hexa:nth-child(3) .cap{
    background:linear-gradient(to top, rgb(53, 7, 221),transparent);
}

.section-inner{
    width:1280px;
    min-height: 100vh;
}

.accordion-content{
    display: flex;
}

.focus{
    flex: 1; 
    justify-content: space-between;
    align-items: center;
}